# Database Configuration (for SQL Server Container)
MSSQL_SA_PASSWORD=StrongPassword123!

# Backend Application Configuration
SPRING_DATASOURCE_URL=jdbc:sqlserver://database:1433;databaseName=DATABASECNM;encrypt=true;trustServerCertificate=true;characterEncoding=UTF-8;
SPRING_DATASOURCE_USERNAME=sa
SPRING_DATASOURCE_PASSWORD=StrongPassword123!

# SMTP Configuration (for OTP/Mails)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=example@gmail.com
SPRING_MAIL_PASSWORD=abcdefghijklmnop

# Third Party APIs
NEWS_API_KEY=your_news_api_key_here

# VNPay Integration
VNPAY_TMNCODE=FAGMI56M
VNPAY_HASHSECRET=090VO9PDCB7OO5W12BKW98UV2RLFG92N
VNPAY_PAYURL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
# Change this return URL to your production domain or public IP on the VPS
VNPAY_RETURNURL=http://localhost/payment-success
