.section-header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
  padding: 0 10px;
  margin-top: 100px;
}

.section-title {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  margin: 0;
}

.section-subtitle {
  color: #888;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.view-all-link {
  color: #ff3d00;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: 0.3s;
}

.view-all-link:hover {
  transform: translateX(5px);
}